img{
    height: 20px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 350px;
    height: 50px;
    margin: 15px;
    border-radius: 15px;
    border: none;
}
.container{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(101,58,121);
    background: linear-gradient(90deg, rgba(101,58,121,1) 20%, rgba(140,25,91,1) 56%, rgba(123,25,157,1) 96%);
  
}
a{
    color: black;
    text-decoration: none;
}

h1{
    font-size: 21px;
}
.img-main{
    height: 100px;
}
